/* Imported google fonts one called Montserrat for the main body of writing and Shadows Into Light font for headings */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shadows+Into+Light&display=swap');

/* A pre seceltor to remove all default borders, margins and padding */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Main body selectors to set a base standard for the website*/
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #3a3a3a;
    color: #fff;
}

/* Heading and Subtitles*/
h1, h2 {
    font-family: 'Shadows Into Light', sans-serif;
    letter-spacing: 3px;
    color: #fff;
}

#title-outer {
    width: 100%;
    height: auto;
}

#title {
    text-align: center;
    font-size: 250%;
    text-decoration: none;
}

/* Navigation bar */
#nav-container {
    width: 100%;
    padding-bottom: 20px;
}

#nav-inner {
    text-align: center;
    letter-spacing: 3px;
}

#nav-container li {
    list-style-type: none;
    position: relative;
    margin: 0 0;
    display: inline-block;
}

#nav-container a {
    text-decoration: none;
    color: #fff;
}

#nav-container .button {
    width: 20%;
    border: 4px inset #fff;
    padding: 5px;
    border-radius: 25%;
    background-color: rgba(255, 142, 0, 0.3);
}

#nav-container .current {
    color: #FF858D;
}

#nav-container a:hover {
    color: #FF858D;
}

/* adds zoom effect for the nav links*/
#nav-container li:hover {
    animation-name: image-zoom2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes image-zoom2 {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

/* Main image for index page*/

#main-image-outer {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {
    height: 650px;
    width: 100%;
    background: url(../images/main-image.jpg) no-repeat center center;
    position: relative;

    animation-name: image-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

@keyframes image-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* Cover text of the main iamge */

#picture-text, #picture-text h2 {
    color: #fff;
    font-family: 'Shadows Into Light', sans-serif;
}

#picture-text p {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 200;
}

#picture-text1 {
    width: 450px;
    height: 450px;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 30px;
    left: 150px;
}

/* added hover effect for the main image circles */
#picture-text1:hover {
    animation-name: image-zoom2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#picture-text2 {
    width: 450px;
    height: 450px;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 30px;
    right: 150px;
}

/* added hover effect for the main image circles */
#picture-text2:hover {
    animation-name: image-zoom2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.circle-container {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 0;
}

#picture-text .text-container {
    width: 70%;
    height: 70%;
    max-width: 70%;
    max-height: 70%;
    margin: 0;
    padding: 0;
    position: relative;
    left: 15%;
    top: 15%;
    transform-style: preserve-3d;
}

.main-text {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/* For screen size with a max width of 725 px or below */
@media screen and (max-width: 725px) {
    body {
        font-weight: 300;
    }

    /* for the main title of the webpage*/
    h1, h2 {
        letter-spacing: 2px;
    }

    #title-outer {
        width: 100%;
    }

    #title {
        font-size:125%;
    }

    /* for the navigation */
    #nav-container {
        width: 100%;
    }
    
    #nav-inner {
        letter-spacing: 1px;
    }
    
    #nav-container .button {
        border: 2px inset #fff;
        padding: 3px;
    }
}


/* For screen with a max width of 425 px or below */
@media screen and (max-width: 425px) {
    body {
        font-weight: 200;
    }

    /* for the main title of the webpage*/
    h1, h2 {
        letter-spacing: 1px;
    }

    #title-outer {
        width: 100%;
    }

    #title {
        font-size:125%;
    }

    /* for the navigation */
    #nav-container {
        width: 100%;
    }
    
    #nav-inner {
        letter-spacing: 1px;
    }

    #nav-container li {
        padding-bottom: 15px;
    }
    
    #nav-container .button {
        border: 2px inset #fff;
        padding: 2px;
    }
}

/* For screens with a max width of 375px or below*/
@media screen and (max-width: 375px) {
    body {
        font-weight: 200;
    }

    /* for the main title of the webpage*/
    h1, h2 {
        letter-spacing: 1px;
    }

    #title-outer {
        width: 100%;
    }

    #title {
        font-size:110%;
    }

    /* for the navigation */
    #nav-container {
        width: 100%;
    }
    
    #nav-inner {
        letter-spacing: 1px;
    }

    #nav-container li {
        padding-bottom: 15px;
    }
    
    #nav-container .button {
        border: 2px inset #fff;
        padding: 2px;
        width: 15%;
    }

    /* Main image for index page*/

    #main-image-outer {
        height: 400px;
    }

    #main-image {
        height: 400px;
        width: 100%;
    }

    /* cover text for main image*/
    #picture-text, #picture-text h2 {
        font-size: 100%;
    }
    
    #picture-text p {
        font-weight: 100;
        font-size: 75%;
    }
    
    #picture-text1 {
        width: 250px;
        height: 250px;
        left: 10px;
    }
    
    #picture-text2 {
        visibility: hidden;
    }
}