/* Imported google fonts one called Montserrat for the main body of writing and Shadows Into Light font for headings */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shadows+Into+Light&display=swap');

/* A pre seceltor to remove all default borders, margins and padding */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Main body selectors to set a base standard for the website*/
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #3a3a3a;
    color: #fff;
}

/* Heading and Subtitles*/
h1, h2 {
    font-family: 'Shadows Into Light', sans-serif;
    letter-spacing: 3px;
    color: #fff;
}

#title {
    text-align: center;
    font-size: 250%;
    text-decoration: none;
}

/* Navigation bar */
#nav-container {
    width: 100%;
}

#nav-inner {
    text-align: center;
    letter-spacing: 3px;
}

#nav-container li {
    list-style-type: none;
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    left: 675px;
}

#nav-container a {
    text-decoration: none;
    color: #fff;
}

#nav-container .button {
    width: 20%;
    border: 4px inset #fff;
    padding: 5px;
    border-radius: 25%;
    background-color: rgba(255, 142, 0, 0.3);
}

#nav-container .current {
    color: #FF858D;
}

#nav-container a:hover {
    color: #FF858D;
}

/* Main image for index page*/

#main-image-outer {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {
    height: 650px;
    width: 100%;
    background: url(../images/main-image.jpg) no-repeat center center;
    position: relative;

    animation-name: image-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

@keyframes image-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* Cover text of the main iamge */

#picture-text, #picture-text h2 {
    color: #fff;
    font-family: 'Shadows Into Light', sans-serif;
}

#picture-text p {
    font-family: 'Montserrat', sans-serif;
    color: #848484;
    font-weight: 200;
}

#picture-text1 {
    width: 450px;
    height: 450px;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 30px;
    left: 150px;
}

#picture-text2 {
    width: 450px;
    height: 450px;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 30px;
    right: 150px;
}

#circle-container {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 142, 0, 0.6);
    margin: 0;
    padding: 0;
}

#picture-text #text-container {
    width: 70%;
    height: 70%;
    max-width: 70%;
    max-height: 70%;
    margin: 0;
    padding: 0;
    position: relative;
    left: 15%;
    top: 15%;
    transform-style: preserve-3d;
}

.main-text {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* The general information about the site section*/
#info-container {
    width: 100%;
    height: 700px;
    display: inline-block;
    margin-top: 20px;
}

#info-box1 {
    width: 45%;
    height: 400px;
    background-color: rgba(255, 142, 0, 0.3);
    border: 6px inset #fff;
    position: relative;
    overflow: hidden;
    left: 20px;
}

#info-box2 {
    width: 45%;
    height: 400px;
    position: relative;
    overflow: hidden;
    float: right;
    right: 20px;
    bottom: 410px;
    background-color: rgba(255, 142, 0, 0.3);
    border: 6px inset #fff;
}

#info-box3 {
    width: 45%;
    height: 400px;
    background-color: rgba(255, 142, 0, 0.3);
    border: 6px inset #fff;
    position: relative;
    overflow: hidden;
    top: 20px;
    left: 515px;
}

#the-info {
    width: 35%;
    height: 75%;
    float: left;
    margin-left: 35px;
    margin-top: 25px;
    padding: 20px;
    border-radius: 50%;
    border: 6px solid #fff;
    text-align: center;
}

#the-info #text-container2 {
    width: 70%;
    height: 70%;
    max-width: 70%;
    max-height: 70%;
    margin: 0;
    padding: 0;
    position: relative;
    left: 15%;
    top: 15%;
    transform-style: preserve-3d;
}

#main-text2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#roman-image {
    width: 50%;
    height: 100%;
    float: right;
    background-image: url(../images/romans.jpg);
}

#info-box1:hover #roman-image:hover {
    animation-name: image-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#carthage-image {
    width: 50%;
    height: 100%;
    float: right;
    background-image: url(../images/carthage-soldiers.jpg) ;
}

#carthage-image:hover {
    animation-name: image-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#battle-image {
    width: 50%;
    height: 100%;
    float: right;
    background-image: url(../images/battle-of-carthage.jpg);
}

#battle-image:hover {
    animation-name: image-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* The footer of the page */
#links {
    background-color: red;
    width: 100%;
    height: 150px;
    margin-top: 30px;
}

/* Media screen for screen sizes of 1350px and down */
@media screen and (max-width: 1350px) {
    #nav-width {
        width: 100%;
    }

    #nav {
        letter-spacing: 0px;
    }

    #nav .col-1 {
        width: 15%;
        display: inline-block;
        padding: 0 0;
        border: none;
    }
}

/*  Media screen for screen sizes 1200px and down */
@media screen and (max-width: 1200px) {
    #title {
        font-size: 150%;
    }

    #nav {
        letter-spacing: 0px;
    }

    #nav-width {
        width: 100%;
    }
    
    #nav .col-1 {
        width: 15%;
        display: inline-block;
        padding: 0 0;
        border: none;
    }
    #nav a:hover {
        border: none;
    }
}

/* Media screen for screen widths of 900px or less*/
@media screen (max-width: 900px) {
    #nav-width {
        width: 100%;
        height: 250px;
    }
    
    #nav li {
        position: absoluteS;
    }

    #nav .col-1 {
        width: 25%;
    }
}